<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/content.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/feature-matrix.css">

<style>
  .shortcuts {
    height: initial;
    line-height: initial;
  }

  .nav i {
    height: initial;
  }

  .tabs-body pre {
    margin-top: 0;
  }

  ul:not(.browser-default) {
    padding-left: 22.5px;
    padding-right: 22.5px;
  }

  ul:not(.browser-default),
  ul:not(.browser-default) > li {
    list-style-type: initial;
  }

  ul.menu,
  ul.menu ul {
    padding: 0;
  }

  .hide {
    display: none;
  }

  .menu *,
  .menu a,
  a {
    color: #242A31;
  }

  .menu .dd-item.haschildren > div > a.highlight,
  .menu > .dd-item > div > a.highlight {
    color: #242A31;
  }

  .menu .dd-item a.highlight {
    color: #9DAAB6;
  }

  .menu .dd-item.active > div > a.highlight {
    color: #BF2A32;
  }

  section a {
    color: #039be5;
  }
</style>
