# This action requires that any PR targeting the main branch should touch at
# least one CHANGELOG file. If a CHANGELOG entry is not required, add the "Skip
# Changelog" label to disable this action.

name: changelog

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - master
    paths-ignore:
      - python/sqlcommenter-python/**

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
        - run: 'echo "No build required" '