on: push
name: Laravel Unit Tests
jobs:
  phpunit:
    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:8.0

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Get Composer Cache Directory
        working-directory: ./php/sqlcommenter-php/samples/sqlcommenter-laravel
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Get yarn cache
        working-directory: ./php/sqlcommenter-php/samples/sqlcommenter-laravel
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install composer dependencies
        working-directory: ./php/sqlcommenter-php/packages/sqlcommenter-laravel
        run: |
          composer install --no-scripts

      - name: Prepare Laravel Application
        working-directory: ./php/sqlcommenter-php/packages/sqlcommenter-laravel
        run: |
          cp .env.ci .env
          php artisan key:generate

      - name: Run Testsuite
        working-directory: ./php/sqlcommenter-php/packages/sqlcommenter-laravel
        run: vendor/bin/phpunit tests/
